
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vw;
}
.App-header h1, .par{
  text-align: center;
}
.App-header .input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 60px 0 0 53px;
}
.Alert .complate{
  color: #1d1d1d;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(35, 189, 0);
  text-align: center;
}
.close{
  display: none;
}
.AllTask{
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}
.Task{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  margin: 5px 15px ;
  color: #211d1d;
  background-color: rgb(180, 157, 129);
  overflow: clip;
  text-overflow: ellipsis;
  box-shadow: 4px 4px 4px 2px rgb(194, 192, 192);
}
.Task:hover{
  box-shadow: 4px 4px 4px 2px rgb(194, 54, 54);
}
.Task button{
  background-color: rgb(240, 54, 85);
  border: none;
  border-radius: 40%;
  margin-top: 25px;
}
.Task button:hover{
  background-color: red;
}